.header {
  width: 100%;
  margin-top: 0.5rem;
  padding-left: 10px;
  justify-content: space-between;
}

.linkItem {
  list-style-type: none;
  margin: 0;
  padding: 0.5rem 1rem;
  border-radius: 3px;
}
.linkItem :hover {
  background-color: #444;
}
.link {
  text-decoration: none;
}
.link:hover {
  text-decoration: none;
}

.logo {
  color: white;
}

.logo:hover {
  color: #00bc8c;
}
